<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <nav>
        <div class="nav nav-tabs" >
          <a class="nav-link"  data-bs-toggle="tab" routerLink="/vehiclealert/maintenalert">Maintenance Alerts</a>
          <a class="nav-link"  data-bs-toggle="tab" routerLink="/vehiclealert/tyrealert">Tyre Alerts</a>
          <a class="nav-link"  data-bs-toggle="tab" routerLink="/vehiclealert/batteryalert">Battery Alerts</a>
          <a class="nav-link"  data-bs-toggle="tab" routerLink="/vehiclealert/adminalert">Admin Alerts</a>
          <a class="nav-link"  data-bs-toggle="tab" routerLink="/vehiclealert/attention">Immediate Attention</a>
        </div>
      </nav>
    </div>
  </body>
</html>
