<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
       <p><b>Branch</b></p>
       <div class=" btn btn-primary btn-sm back" routerLink="/branches/addbranch">New</div>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>Title</th>
            <th>E-Mail</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
