
.form{
  background-color: rgb(237, 241, 241);
  //  margin: 10px;
   padding: 10px;
}
p{
  font-size: large;
  // background-color: rgb(237, 242, 242);
  padding: 10px;
}
.container{
  position: relative;
  left: 125px;
  top: 60px;
}
.back{
 position: relative;
 left: 85%;
}
.button
{
  position: relative;
  left: 20%;
}
