<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>New Order</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/pastorder">Back</a>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Job Card No</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Vehicle Reg No</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Parts No</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Parts Name</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Parts Quantity</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Received Parts Quantity</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Amount</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-25">
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
