<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Parts</b></p>
        <div class="btn btn-outline-danger btn-sm back" routerLink="/part">Back</div>
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Item Name</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Item Number</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Description</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">UOM</label>
        <select name="" id="" class="col-10 w-25 p-1">
          <option value="1">Kg</option>
          <option value="2">Liter</option>
          <option value="3">Number</option>
          <option value="4">Set</option>
        </select>
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">CGST</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">SGST</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">IGST</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Status</label>
        <input type="text" class="col-10 w-25 p-1">
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
