.container{
  position: relative;
  background-color: rgb(230, 234, 235);
  left: 134px;
  top: 58px;
}
p{
  font-size: large;
  margin: 2px;
  // background-color: rgb(237, 242, 242);
  // padding: 10px;
}
.back{
  position: relative;
  left: 88%;
  margin: 2px;
 }
 .navbar{
  position: relative;
  right: 10px;
  margin: 10px;
}
.bg{
  background-color: rgb(240, 245, 250);
}
thead{
  background-color: gainsboro;
}
