<app-vehiclealert></app-vehiclealert>
<html>
  <head></head>
  <body>
    <div class="container">
      <h3>Admin Alerts</h3>
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>Vehicle No</th>
            <th>Renew Insurance</th>
            <th>Renew Tax</th>
            <th>Finance Due</th>
            <th>Renew Toll</th>
            <th>Renew FC</th>
            <th>Renew Permit</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
