<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Check Ups</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/checkup">Back</a>
        </div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Service</label>
        <input type="text" class="form-control w-25">
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Job Title</label>
        <select name="" id="" class="form-select w-25">
          <option value="wiper" selected>Wiper-Water Level</option>
          <option value="cool">Coolant Level</option>
          <option value="engine">Engine Oil Level and Quality</option>
          <option value="power">Power Steering Oil Level and Quality</option>
        </select>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
