<app-display></app-display>
<html>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   <head>

   </head>
   <body>
    <div class="container">
      <div>
        <div class="d-flex">
          <p><b>Add Workshops</b></p>
          <div class="back">
            <a class="btn btn-outline-danger btn-sm" routerLink="/store">Back</a>
          </div>
        </div>
      </div>
      <div class="row mb-3 p-5">
        <label class="col-2 ">Workshop Code</label>
        <div class="col-10">
         <input type="text"  class="w-25 p-1">
        </div>
      </div>
      <a class="btn btn-success btn-sm button">Save</a>
   </div>
   </body>
</html>




