<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Store</b></p>
        <a class="btn btn-outline-danger btn-sm back" routerLink="/store">Back</a>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-4">
          <label for="" class="form-label">Account Type</label>
          <select name="" class="form-select p-1">
            <option value="1">Workshop</option>
            <option value="2">Admin</option>
            <option value="3">Manager</option>
            <option value="4">Customer</option>
            <option value="5">Store</option>
          </select>
        </div>
        <div class="col-4">
          <label for="" class="form-label">E-Mail</label>
          <input type="text" class="form-control p-1">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Password</label>
          <input type="text" class="form-control p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-4">
          <label for="" class="form-label">First Name</label>
          <input type="text" class="form-control p-1">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Last Name</label>
          <input type="text" class="form-control p-1">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Address</label>
          <input type="text" class="form-control p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-4">
          <label for="" class="form-label">Profile Image</label>
          <input type="file" class="form-control p-1">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Country</label>
          <select name="" class="form-select p-1">
            <option value="india">India</option>
            <option value="china">China</option>
            <option value="japan">Japan</option>
            <option value="france">France</option>
            <option value="canada">Canada</option>
          </select>
        </div>
        <div class="col-4">
          <label for="" class="form-label">State</label>
          <select name="" class="form-select p-1">
            <option value="tamilnadu">Tamil Nadu</option>
            <option value="karnataka">Karnataka</option>
            <option value="kerala">Kerala</option>
            <option value="andhra">Andhra</option>
            <option value="assam">Assam</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-4">
          <label for="" class="form-label">City</label>
          <select name="" class="form-select p-1">
            <option value="chennai">Chennai</option>
            <option value="madurai">Madurai</option>
            <option value="kanyakumari">kanyakumari</option>
            <option value="coimbatore">Coimbatore</option>
            <option value="selam">Selam</option>
          </select>
        </div>
        <div class="col-4">
          <label for="" class="form-label">ZIP Code</label>
          <input type="text" class="form-control p-1">
        </div>
        <div class="col-4">
          <label for="" class="form-label">Phone</label>
          <input type="text" class="form-control p-1">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label for="" class="form-label">About as</label>
          <textarea name="" class="form-control p-1"></textarea>
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
