<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Past Order</b></p>
        <a class="btn btn-success btn-sm back" routerLink="/pastorder/neworder">Add</a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>Job Card No</th>
            <th>Vehicle Reg NO</th>
            <th>Parts No</th>
            <th>Parts Name</th>
            <th>Parts Quantity</th>
            <th>Received Parts Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>RJC-38563</td>
            <td>TN59BH0574</td>
            <td>T1234</td>
            <td>Tyre</td>
            <td>1</td>
            <td>1</td>
            <td>5000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
