<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Edit Parts Discounts</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/partdiscount">Back</a>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Item Name</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Item Number</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Description</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">UOM</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-50 p-2">
            <option value="number" selected>Number</option>
            <option value="kg">Kg</option>
            <option value="liter">Liter</option>
            <option value="set">Set</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">CGST</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">SGST</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">IGST</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Status</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
