
<!DOCTYPE html>
<html>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- <a class="active" href="navbar">SIMPLIAPPS</a> -->
  <a type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" >&#9776;</a>
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <div class="offcanvas offcanvas-start"  data-bs-backdrop="false"  id="offcanvasScrolling" >
          <div class="offcanvas-header">
            <a class="offcanvas-title active" href="navbar" >SIMPLIAPPS</a>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <a href="dashboard"> DASHBOARD</a>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">ACCOUNTS
              <a href=""><li>Account</li></a>
              <a href=""><li>Customer Accounts</li></a>
              <a href=""><li>Manager Accounts</li></a>
              <a href=""><li>Store Accounts</li></a>
              <a href=""><li>Technicians</li></a>
              <a href=""><li>Workshop Accounts</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">BILLINGS
              <div class="dropdown">
                <a class="dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                  Create Bill
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <li><a class="dropdown-item" href="#">Invoice</a></li>
                  <li><a class="dropdown-item" href="#">Manage</a></li>
                </ul>
              </div>
              <div class="dropdown">
                <a class="dropdown-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Orders
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Past Order</a></li>
                  <li><a class="dropdown-item" href="#">Pending Order</a></li>
                </ul>
              </div>
              <a href=""><li>Parts-approval</li></a>
              <a href=""><li>Transactions</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">DISCOUNTS
              <a href=""><li>Customer Discount</li></a>
              <a href=""><li>Discounts</li></a>
              <a href=""><li>Parts Discount</li></a>
              <a href=""><li>Parts Group</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">MAINTENANCE
              <a href=""><li>Fuel-Logs</li></a>
              <a href=""><li>Vehicle-Due-Alerts</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">MASTERS
              <a href=""><li>Branches</li></a>
              <a href=""><li>Checkups</li></a>
              <a href=""><li>Customer List</li></a>
              <a href=""><li>Packages</li></a>
              <a href=""><li>Parts</li></a>
              <a href=""><li>Rot</li></a>
              <a href=""><li>Services</li></a>
              <a href=""><li>Tyre Makes</li></a>
              <a href=""><li>Tyre Modals</li></a>
              <a href=""><li>Uoms</li></a>
              <a href=""><li>Ventors</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">REPORTS
              <a href=""><li>Fuel log-reports</li></a>
              <a href=""><li>Reports</li></a>
            </ul></div>
            <div><ul style="list-style-type: none; color: rgb(89, 89, 185); ">MAINTENANCE
              <a href=""><li>GRN</li></a>
              <a href=""><li>parts</li></a>
              <a href=""><li>Parts Adjustment</li></a>
              <a href=""><li>Parts View</li></a>
            </ul></div>
                  </div>
        </div>
  </div>
    </div>
    <!-- <div class="col-10">
       <nav class="navbar">
        <div class="container">
          <a type="button"  class="visible" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">&#9776;</a>
        </div>
       </nav>
    </div> -->
  </div>




<!-- <div><a>&#9776;</a></div> -->
</body>
</html>

