<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Customer Discount</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/customerdiscount">Back</a>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <label for="">Group</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-50 p-1">
            <option value="10">10% Discount</option>
            <option value="20">20% Discount</option>
            <option value="30">30% Discount</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-2">
          <label for="">Customer</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-50 p-1">
            <option value="1">KAM-A093</option>
            <option value="2">KAM-A051</option>
            <option value="3">KAM-A052</option>
            <option value="4">KAM-A053</option>
            <option value="5">KAM-A061</option>
            <option value="6">KAM-A062</option>
            <option value="7">KAM-A063</option>
            <option value="8">KAM-A064</option>
            <option value="9">KAM-A071</option>
            <option value="10">KAM-A072</option>
          </select>
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
