<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Discount</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/discount">Back</a>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Group</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-25 p-1">
            <option value="10">10% Discount</option>
            <option value="20">20% Discount</option>
            <option value="30">30% Discount</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Customer</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-25 p-1">
            <option value="1">KAM-A0193</option>
            <option value="2">KAM-A0151</option>
            <option value="3">KAM-A0152</option>
            <option value="4">KAM-A0153</option>
            <option value="5">KAM-A0161</option>
            <option value="6">KAM-A0162</option>
            <option value="7">KAM-A0163</option>
            <option value="8">KAM-A0171</option>
            <option value="9">KAM-A0172</option>
            <option value="10">KAM-A0173</option>
          </select>
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
