<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Reports</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/fuellog">Back</a>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Vehicle No</label>
        </div>
        <div class="col-10">
          <select name="" id="" class="w-50 p-1">
            <option value="1">TN58AD0794</option>
            <option value="2">TN58AD4561</option>
            <option value="3">TN88EA2301</option>
            <option value="4">TN28CE3492</option>
            <option value="5">TN28CE3402</option>
            <option value="6">TN88EA2475</option>
            <option value="7">TN59ST0123</option>
            <option value="8">TN59EA0291</option>
            <option value="9">TN57BF0394</option>
            <option value="10">TN28BF0288</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Start</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">End</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
