.container{
  position: relative;
  background-color: rgb(230, 234, 235);
  left: 133px;
  top: 58px;
}
p{
  font-size: large;
  margin: 2px;
}
.back{
  position: relative;
  left: 78%;
  margin: 4px;
}
.navbar{
  position: relative;
  right: 10px;
  margin: 20px;
}
thead{
  background-color: gainsboro;
}
