<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Billings</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/manage">Back</a>
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">Select Customer</label>
          <select name="" id="" class="form-select ">
            <option>None Selected</option>
          </select>
        </div>
        <div class="col-6">
          <label for="" class="form-label">DMS Customer Code</label>
          <input type="date" name="" id="" class="form-control ">
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">Job Card No</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Job Bill Date</label>
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">From Date</label>
          <input type="date" class="form-control">
        </div>
        <div class="col-6">
          <label for="" class="form-label">TO Date</label>
          <input type="date" class="form-control">
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">Labour Bill No</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Labour Bill Amount</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">Part Bill No</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Part Bill Amount</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row mb-2 p-2">
        <div class="col-6">
          <label for="" class="form-label">Bill Amount</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Status</label>
          <select class="form-select">
            <option>status</option>
            <option value="outstanding">Outstanding</option>
            <option value="full">Full Payment Received</option>
          </select>
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
