<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Customer List</b></p>
      </div>
      <table class="table table-bordered m-3">
        <thead>
          <tr style="text-align: center;">
            <th>Customer Code</th>
            <th>customer Name</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>cus-0013</td>
            <td>Kumar</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
