<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Parts Adjustment</b></p>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-6">
          <label for="" class="form-label">Grn No</label>
          <input type="text" class="form-control w-50">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Type Of Vehicle</label>
          <select name="" id="" class="form-select w-50">
            <option value="passanger" selected>Passanger</option>
            <option value="truck">Truck</option>
          </select>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-6">
          <label for="" class="form-label">Parts No</label>
          <input type="text" class="form-control w-50">
        </div>
        <div class="col-6">
          <label for="" class="form-label">Qty</label>
          <input type="text" class="form-control w-50">
        </div>
      </div>
      <a class="btn btn-success button">save</a>
    </div>
  </body>
</html>
