<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Parts Master</b></p>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr style="text-align: center;">
            <th>Parts No</th>
            <th>Parts Title</th>
            <th>Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center;">
            <td>TY091</td>
            <td>Tyre</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
