<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Services</b></p>
        <div class="btn btn-outline-danger btn-sm back" routerLink="/viewpackage">Back</div>
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Service Name</label>
        <select type="text" class="col-10 w-25">
          <option value="select" selected>Select Services</option>
          <option value="1">Air Compressor</option>
          <option value="2">Air Filter</option>
          <option value="3">Allison Oil</option>
          <option value="4">Breaking Lining</option>
          <option value="5">Breaking valves</option>
          <option value="6">Clutch checkup</option>
          <option value="7">clutch Oil</option>
          <option value="8">Diesel Filter</option>
          <option value="9">Engine Oil</option>
          <option value="10">Fan belt renew</option>
        </select>
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Kilo Meter's</label>
        <input type="text" class="col-10 w-25">
      </div>
      <div class="row mb-3 p-2">
        <label for="" class="col-2">Time Interval</label>
        <input type="text" class="col-10 w-25">
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
