<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Edit Checkups</b></p>
        <div class=" btn btn-outline-danger btn-sm back" routerLink="/viewcheckup">Back</div>
      </div>
      <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control w-25">
      </div>
      <div class="mb-3">
        <label for="">JOb Title</label>
        <select name="" id="" class="form-select w-25">
          <option value="driver" selected>Driver</option>
          <option value="technician">Technician</option>
        </select>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
