<app-display></app-display>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="d-flex">
        <p><b>Add Branch</b></p>
        <div class="back">
          <a class="btn btn-outline-danger btn-sm" routerLink="/branches">Back</a>
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Title</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">E-Mail</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Contact</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Address</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <div class="row mb-3 p-2">
        <div class="col-2">
          <label for="">Description</label>
        </div>
        <div class="col-10">
          <input type="text" class="w-50 p-1">
        </div>
      </div>
      <a class="btn btn-success button">Save</a>
    </div>
  </body>
</html>
